<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <mat-grid-list cols="12" rowHeight="100px" gutterSize="10px">
        <mat-grid-tile id="navid" colspan="2" rowspan="16">
            <div class="icon" style="position: absolute; top: 50px; left: 12px;">
                <button mat-button><img src="../../assets/img/logo.png" height="30px" width="150px" alt="" class="mx-0"
                        style="background-color: rgb(77, 77, 145);"></button>
            </div>

            <div class="listitem">
                <mat-list role="list" style="position: absolute; top: 100px; left: 0px;">
                    <mat-divider></mat-divider>
                    <div class="content">


                        <mat-list-item role="listitem"><button mat-button (click)="fun()"><img src="../../assets/img/dashboard.png"
                                    alt="">Dashboard</button></mat-list-item>
                        <mat-list-item role="listitem"><button mat-button><img src="../../assets/img/user.png"
                                    alt="">User Profile</button></mat-list-item>
                        <mat-list-item role="listitem"><button mat-button><img src="../../assets/img/grid.png"
                                    alt="">Table List</button></mat-list-item>
                        <mat-list-item role="listitem"><button mat-button><img src="../../assets/img/test.png"
                                    alt="">Typography</button></mat-list-item>
                        <mat-list-item role="listitem"><button mat-button><img src="../../assets/img/sparkler.png"
                                    alt="">Icons</button></mat-list-item>
                        <mat-list-item role="listitem"><button mat-button><img src="../../assets/img/maps-and-flags.png"
                                    alt="">Maps</button></mat-list-item>
                        <mat-list-item role="listitem"><button mat-button><img src="../../assets/img/bell.png"
                                    alt="">Notifications</button></mat-list-item>
                    </div>
                </mat-list>
            </div>


        </mat-grid-tile>
        <mat-grid-tile colspan="10" style="background-color: rgb(248, 241, 241);">
            <div class="upper">
                <div class="h1" style="position: absolute; left: 0; top: 15%;">
                    <h1>Dashboard</h1>
                </div>
                <div class="right justify-content-spacearound"
                    style="display: flex; position: absolute; right: 100px; top: 30px;">
                    <div class="icons">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">

                    </div>
                    <div class="search">
                        <button
                            style="border: none;border-radius: 50%; height: 40px; width: 40px;  background-color: white;"
                            class="mx-2"><img src="../../assets/img/search.png" class="mx-1"
                                style="height: 15px; width: 15px;" alt=""></button>
                        <button mat-button><img src="../../assets/img/dashboard.png" alt=""></button>

                        <mat-icon matBadge="15" matBadgeColor="warn">
                            <button style="border: none; background-color: transparent;"><img
                                    src="../../assets/img/bell.png" alt=""></button>
                            <button mat-button><img src="../../assets/img/user.png" alt=""></button>

                        </mat-icon>
                    </div>
                </div>

            </div>
        </mat-grid-tile>
        <mat-grid-tile colspan="10" rowspan="15" style="background-color: rgb(243, 243, 239);">
            <ng-container #container></ng-container>
            <!-- <div style="height: 100px; width: 100px; position: 
            absolute; top: 50px; left: 80px; z-index: 1; background-color: orange;" class="cardicon">
                <img src="../../assets/img/copy (1).png"
                    style="height: 40px; width: 40px; filter: brightness(0) invert(1); " alt="" class="my-4 mx-4">
            </div>
            <div style="height: 100px; width: 100px; position: 
            absolute; top: 50px; left: 360px; z-index: 1; background-color: rgb(72, 220, 111);" class="cardicon">
                <img src="../../assets/img/home.png" class="my-4 mx-4" style="height: 40px; width: 40px; filter: brightness(0) invert(
                    1
                );" alt="">
            </div>

            <div class="cardicon" style="height: 100px; width: 100px; position: 
            absolute; top: 50px; left: 640px; z-index: 1; background-color: rgb(252, 35, 35);">
                <img src="../../assets/img/warning (1).png" class="my-4 mx-4" alt=""
                    style="height: 40px; width: 40px; filter: brightness(0) invert(1);">
            </div>

            <div class="cardicon" style="background-color: rgb(133, 220, 242); border-radius: 5px;">
                <img src="../../assets/img/twitter (1).png" style="height: 100px; width: 100px; position: 
                 absolute; top: 50px; left: 920px; z-index: 1;" class="cardicon" alt="">
            </div>

            <div class="cardicon" style="position: 
            absolute; top: 350px; left: 80px; z-index: 1; background-color: rgb(87, 240, 87);">
                <img src="../../assets/img/chart.png" class="my-4 mx-5" alt=""
                    style="height: 170px; width: 180px; filter: brightness(0) invert(1);">
            </div>

            <div class="cardicon" style="position: 
            absolute; top: 350px; left: 820px; z-index: 1; background-color: orange;">
                <img src="../../assets/img/bar-graph.png" class="my-4 mx-4" alt=""
                    style="height: 170px; width: 220px; filter: brightness(0) invert(1);">
            </div>

            <div class="cardicon" style="position: 
            absolute; top: 350px; left: 450px; z-index: 1; background-color: rgb(252, 35, 35);">
                <img src="../../assets/img/graph.png" class="my-4 mx-4" alt=""
                    style="height: 170px; width: 220px;  filter: brightness(0) invert(1);">
            </div>
            <div class="container" style="position: 
            absolute; top: 900px; left: 110px; z-index: 1; background-color: rgb(139, 20, 224); height: 100px; width: 420px;  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 10px 20px 0 rgba(0, 0, 0, 0.19);">
               <div class="data" style="display: flex; justify-content: space-around;">
                <div class="bug">
                    <button mat-button class="text-white">Tasks:</button>
                  </div>
                  <div class="bug">
                    <button mat-button class="text-white"><img src="../../assets/img/bug.png" style="height: 30px; width: 30px; filter: brightness(0) invert(1);" alt="">BUGS</button>
                  </div>
                  <div class="bug">
                    <button mat-button class="text-white"><img src="../../assets/img/coding (1).png" style="height: 30px; width: 30px; filter: brightness(0) invert(1);" alt="">Website</button>
                  </div>
                  <div class="bug">
                    <button mat-button class="text-white"><img src="../../assets/img/cloud.png" style="height: 30px; width: 30px; filter: brightness(0) invert(1);" alt="">Server</button>
                  </div>

               </div>
            </div>

            <div class="container" style="position: 
            absolute; top: 900px; left: 690px; z-index: 1; background-color: orange; height: 100px; width: 420px;  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 10px 20px 0 rgba(0, 0, 0, 0.19);">
             <h1 class="text-white">Lorem ipsum dolor sit amet conse</h1>
             <p class="text-white">Lorem ipsum dolor sit amet consectetur.</p>
            </div>






            <div class="container justify-content-spacearound" style="display: flex; position: absolute; top: 6%;"
                id="mid">
                <div class="card" style="width: 300px; height: 150px; margin-right: 4%;">
                   
                    <h3 class="ml-auto mr-2">Used Space</h3>
                    <h1 class="ml-auto mr-1">40/50 <span style="font-weight: bold;">GB</span></h1>
                    <div class="card-body">
                        <mat-divider></mat-divider>
                        <div class="below justify-content-spacearound" style="display: flex;">
                            <div class="left">
                                <img src="../../assets/img/warning.png" class="ml-auto" alt=""><span
                                    class="text-success">Get more space</span>

                            </div>

                        </div>


                    </div>
                </div>
                <div class="card" style="width: 300px; height: 150px; margin-right: 4%;">
                    <h3 class="ml-auto mr-2">Revenue</h3>
                    <h1 class="ml-auto mr-2">$34,245 </h1>
                    <div class="card-body">
                        <mat-divider></mat-divider>
                        <div class="below justify-content-spacearound" style="display: flex;">
                            <div class="left">
                                <img src="../../assets/img/calendar.png" class="ml-auto" alt=""><span
                                    class="text-secondary">Last 24 Hours</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card" style="width: 300px; height: 150px; margin-right: 4%;">
                    <h3 class="ml-auto mr-2">Fixed Issues</h3>
                    <h1 class="ml-auto mr-2">75</h1>
                    <div class="card-body">
                        <mat-divider></mat-divider>
                        <div class="below justify-content-spacearound" style="display: flex;">
                            <div class="left">
                                <img src="../../assets/img/label.png" class="ml-auto" alt=""><span
                                    class="text-secondary">Tracked from Github</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card" style="width: 300px; height: 150px; margin-right: 4%;">
                    <h3 class="ml-auto mr-2">Followers</h3>
                    <h1 class="ml-auto mr-2">+245</h1>
                    <div class="card-body">
                        <mat-divider></mat-divider>
                        <div class="below justify-content-spacearound" style="display: flex;">
                            <div class="left">
                                <img src="../../assets/img/changes.png" class="ml-auto" alt=""><span
                                    class="text-secondary">Just updated</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


             2nd card  

            <div class="container justify-content-spacearound" style="display: flex; margin-bottom: 30%;">
                <div class="card" style="width: 400px; height: 300px; margin-right: 4%;">
                   
                    <div class="abovele" style="margin-top: 100px;">
                        <h1 class="ml-4 mr-auto my-4">Daily sales</h1>
                        <p class="ml-4 my-0 text-secondary">Lorem ipsum dolor</p>
                    </div>
                  
                    <div class="card-body">
                        <mat-divider></mat-divider>
                        <div class="below justify-content-spacearound" style="display: flex;">
                            <div class="left">
                                <div class="left">
                                    <img src="../../assets/img/changes.png"
                                        style="width: 20px; height: 20px;  opacity: .4;" alt="">
                                    <span class="ml-2 text-secondary">Lorem ipsum dolor sit.</span>

                                </div>

                            </div>

                        </div>


                    </div>
                </div>

                <div class="card" style="width: 400px; height: 300px; margin-right: 4%;">
                
                    <div class="abovele" style="margin-top: 100px;">
                        <h1 class="ml-4 mr-auto my-4">Email Subscriptions</h1>
                        <p class="ml-4 my-0 text-secondary">Lorem ipsum dolor</p>
                    </div>
                    <div class="card-body">
                        <mat-divider></mat-divider>
                        <div class="below justify-content-spacearound" style="display: flex;">
                            <div class="left">
                                <div class="left">
                                    <img src="../../assets/img/changes.png"
                                        style="width: 20px; height: 20px;  opacity: .4;" alt="">
                                    <span class="ml-2 text-secondary">Lorem ipsum dolor sit.</span>

                                </div>

                            </div>

                        </div>


                    </div>
                </div>
                <div class="card" style="width: 400px; height: 300px; margin-right: 4%;">
                   
                    <div class="abovele" style="margin-top: 100px;">
                        <h1 class="ml-4 mr-auto my-4">Complete tasks</h1>
                        <p class="ml-4 my-0 text-secondary">Lorem ipsum dolor</p>
                    </div>

                    <div class="card-body">
                        <mat-divider></mat-divider>
                        <div class="below justify-content-spacearound" style="display: flex;">
                            <div class="left">
                                <img src="../../assets/img/changes.png" style="width: 20px; height: 20px;  opacity: .4;"
                                    alt="">
                                <span class="ml-2 text-secondary">Lorem ipsum dolor sit.</span>

                            </div>

                        </div>


                    </div>
                </div>
            </div>


            <div class="container my-5" style="position: absolute; top: 57%;">
                <div class="row">
                    <div class="carddiv justify-content-spacearound" style="display: flex;">
                        <div class="card" style="width: 550px; height: 350px;">
                            <mat-list>
                                <div class="bodypart justify-content-spacearound my-5"
                                    style="display: flex; position: inherit; top: 15%;">
                                    <div class="check">
                                        <input class="form-check-input mx-4" type="checkbox" value=""
                                            id="flexCheckDefault">
                                    </div>
                                    <div class="para" style="margin-left: 15%;">
                                        <p class="mx-5">Lorem ipsum dolor sit amet.</p>
                                    </div>

                                    <div class="symbol mx-5">
                                        <img src="../../assets/img/pencil (1).png" style="height: 10px; width: 10px;"
                                            alt="">
                                        <img src="../../assets/img/close.png" class="mx-2"
                                            style="height: 10px; width: 10px;" alt="">

                                    </div>

                                </div>
                                <mat-divider></mat-divider>
                            </mat-list>

                            <mat-list>
                                <div class="bodypart justify-content-spacearound my-5"
                                    style="display: flex; position: inherit; top: 15%;">
                                    <div class="check">
                                        <input class="form-check-input mx-4" type="checkbox" value=""
                                            id="flexCheckDefault">
                                    </div>
                                    <div class="para" style="margin-left: 15%;">
                                        <p class="mx-5">Lorem ipsum dolor sit amet.</p>
                                    </div>

                                    <div class="symbol mx-5">
                                        <img src="../../assets/img/pencil (1).png" style="height: 10px; width: 10px;"
                                            alt="">
                                        <img src="../../assets/img/close.png" class="mx-2"
                                            style="height: 10px; width: 10px;" alt="">

                                    </div>

                                </div>
                                <mat-divider></mat-divider>
                            </mat-list>






                        </div>
                    </div>
                    <div class="card" style="width: 550px; height: 350px; margin-left: 3%;">
                        <div class="bodypart my-5">
                            <table class="table table-borderless">
                                <thead>
                                  <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Salary</th>
                                    <th scope="col">Country</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <th scope="row">1</th>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                    <td>@mdo</td>
                                  </tr>
                                  <tr>
                                    <th scope="row">2</th>
                                    <td>Jacob</td>
                                    <td>Thornton</td>
                                    <td>@fat</td>
                                  </tr>
                                  <tr>
                                    <th scope="row">3</th>
                                    <td>Larry</td>
                                    <td>the Bird</td>
                                    <td>@twitter</td>
                                  </tr>
                                </tbody>
                              </table>
                        </div>
                    </div>
        
                </div>
            </div> -->
  
             </mat-grid-tile> 

      

    </mat-grid-list>

</body>

</html>